@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #e2e8f0;
  --secondary-foreground: #171717;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1e40af;
    --primary-foreground: #ffffff;
    --secondary: #1e293b;
    --secondary-foreground: #ffffff;
  }
}


/* Esconde elementos apenas na impressão */
/* Esconde elementos apenas na impressão */
/* Esconde elementos apenas na impressão */
@media print {
  /* Define a orientação da página para paisagem */
  @page {
    size: A4 landscape;
    margin: 5mm;
  }

  /* Esconde a sidebar e a navbar na impressão */
  .SidebarWithNavbar {
    display: none !important;
  }

  /* Esconde os botões padrão do Next.js com ícone de raio na impressão */
  button[aria-label="Lightning"] {
    display: none !important;
  }

  /* Esconde os botões de assinar, salvar PDF e imprimir apenas na impressão */
  .no-print {
    display: none !important;
  }

  /* Ajusta a área principal para melhor visualização na impressão */
  .print-area {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    background: white;
    color: black;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  /* Reduz tamanho das imagens para melhor aproveitamento do espaço */
  .print-area img {
    max-width: 60%;
    height: auto;
  }

  /* Reduz tamanho das fontes para melhor ajuste */
  .print-area h1, .print-area h2, .print-area p {
    font-size: 14px;
  }
}







